# Local .terraform directories
**/.terraform/*

**/ansible/host_vars/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used for local testing and contain
# sensitive data.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include example files.
!*.example

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Packer files
.packer_cache/
packer_cache/
