# Local .terraform directories
**/.terraform/*

# Ignore resources creates by/for ansible
**/ansible/host_vars/*
**/ansible/rke2.yaml

.proxmox

# Ignore build bundles/packages
*.tar.zst

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore certificate and key files
**/*.crt
**/*.key

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used for local testing and contain
# sensitive data.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include example files.
!*.example

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Packer files
.packer_cache/
packer_cache/

# Vault policies
**/src/populated/*
